<div class='uit-header' data-0='background-position-y: 200%;' data-top-bottom='background-position-y: 120%;''>
    <div class='uit-container'>
        <div class='uit-header__content uit-content'>
            <a class="uit-header__tag" href="http://www.theguardian.com/news/series/the-long-read">The long read</a>
            <h1 class='uit-header__headline'>
                <span class='uit-header__headline-sub'>The case for cuts was a lie. Why does Britain still believe it?</span>
                <span class='uit-header__headline-title'>The austerity delusion</span>
            </h1>
            <h3 class='uit-header__byline'><a href="http://www.theguardian.com/profile/paul-krugman">Paul Krugman</a></h3>

            {{> partials/share }}
        </div>

        {{> svgs/man }}
        <canvas class='uit-header__canvas'></canvas>
    </div>
</div>
