<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h3 class="uit-header__tag"><a href="http://www.theguardian.com/news/series/the-long-read">The long read</a></h3>
            <h2 class="uit-header__subtitle">The case for cuts was a lie. Why does Britain still believe it? </h2>
            <h1 class="uit-header__title">The austerity delusion</h1>
            <h2 class="uit-header__byline">by <a href="http://www.theguardian.com/profile/paul-krugman">Paul Krugman</a></h2>

            {{> partials/share }}
        </div>
    </div>
</div>
