.krugman-body__raised {
    margin-top: 5em;

    &:first-letter {
        font-size: 10em;
        line-height: 0.5;
    }
}

.krugman-body__subhead {
    font-family: $f-serif-headline;
    color: $c-red;
    font-weight: bold;
    font-size: 32px;
}

.krugman-body__divider {
    position: relative;
    overflow: hidden;
    
    &--1 {
        @include transform(rotate(-7deg));
    }

    &--2 {
        @include transform(rotate(-172deg));
    }
    
    &--3 {
        @include transform(rotate(14deg));
    }
    
    &--4 {
        @include transform(rotate(-185deg));
    }

    .frame--1,
    .frame--2,
    .frame--3 {
        display: none;
    }

    @for $i from 1 through 3 {
        &.show-frame-#{$i} {
            .frame--#{$i} {
                display: block;
            }
        }
    }
}

.krugman-body__divider-rule {
    width: 100%;
    margin: 8em 0;
    border-top: 14px dashed $c-black;
}

.krugman-body__divider-scissors {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    margin: auto;
    margin-left: -20%;
}
