.krugman-body__raised {
    margin-top: 2em;
    height: 7em;

    &--b {
        margin-bottom: -4px;
        margin-left: -7px;
        margin-right: -4px;
    }
}

.krugman-body__subhead {
    font-family: $f-serif-headline;
    color: $c-red;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 4em;
    position: absolute;
    top: 55%;
    right: 15%;
    line-height: 1.2;

    span {
        display: block;
        font-weight: bold;
    }
}

.krugman-body__divider {
    position: relative;
    overflow: hidden;
    
    &--1 {
        @include transform(rotate(-8deg));

        .krugman-body__subhead {
            right: 60%;
        }

        .krugman-body__divider-rule {
            background: url("@@assetPath@@/imgs/dash-1.svg");
        }
    }

    &--2 {
        @include transform(rotate(6deg));

        .krugman-body__divider-rule {
            background: url("@@assetPath@@/imgs/dash-2.svg");
        }
    }
    
    &--3 {
        @include transform(rotate(-3deg));

        .krugman-body__subhead {
            right: 45%;
        }

        .krugman-body__divider-rule {
            background: url("@@assetPath@@/imgs/dash-3.svg");
        }
    }
    
    &--4 {
        @include transform(rotate(9deg));

        .krugman-body__subhead {
            right: 30%;
        }

        .krugman-body__divider-rule {
            background: url("@@assetPath@@/imgs/dash-4.svg");
        }
    }

    .frame--1,
    .frame--2,
    .frame--3 {
        display: none;
    }

    @for $i from 1 through 3 {
        &.show-frame-#{$i} {
            .frame--#{$i} {
                display: block;
            }
        }
    }
}

.krugman-body__divider-rule {
    width: 100%;
    margin: 8em 0;
    height: 20px;
    background-size: cover;
}

.krugman-body__divider-scissors {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    margin: auto;
    margin-left: -20%;
}

.krugman-body__chart {
    border-top: 1px solid $c-black;
    border-bottom: 1px solid lighten($c-black, 80%);
    margin-bottom: 24px;

    @include mq(tablet) {
        max-width: 380px;
        float: right;
        margin-left: 20px;
    }
    
    @include mq(desktop) {
        max-width: 460px;
        margin-right: -220px;
    }

    img {
        max-width: 100%;
        margin-bottom: 14px;
    }
}

.krugman-body__chart-title {
    font-family: $f-serif-headline;
    color: $c-red;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid lighten($c-black, 80%);
    margin-bottom: 6px;
}

.krugman-body__illustration {
    height: 300px;
    width: 100%;
    margin: 24px 0;
    background-color: $c-blue;

    svg {
        width: 100%;
        height: 100%;
        padding: 24px 0;
        @include box-sizing(border-box);
        margin: 0 auto;

        .frame--1,
        .frame--2,
        .frame--3,
        .frame--4 {
            display: none;
        }
    }

    @for $i from 1 through 4 {
        &.show-frame-#{$i} {
            .frame--#{$i} {
                display: block;
            }
        }
    }
}