.krugman-header {
    position: relative;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $c-blue;

    .gs-container {
        position: relative;
        z-index: 5;
        overflow: hidden;
    }
}

.krugman-header__content {
    padding-top: 12px;
    font-family: $f-serif-headline;

    @include mq(tablet) {
        float: left;
        width: 50%;
    }
}

.krugman-header__subtitle,
.krugman-header__title,
.krugman-header__byline {
    font-size: 38px;
    font-weight: 200;
    line-height: 1;

    @include mq(tablet) {
        font-size: 38px;
    }

    @include mq(desktop) {
        font-size: 52px;
    }

    @include mq(leftCol) {
        font-size: 58px;
    }

    a {
        color: inherit;
    }
}

.krugman-header__title {
    color: $c-black;
}

.krugman-header__subtitle {
    color: $c-white;
}

.krugman-header__byline {
    color: $c-red;
}

.krugman-header__man {
    margin: auto;
    margin-bottom: -40px;
    width: 60%;

    @include mq(tablet) {
        margin-bottom: -100px;
        margin-top: -200px;
        width: 50%;
        float: right;
    }

    @include mq(desktop) {
        margin-bottom: -150px;
        width: 400px;
        margin-right: 5%;
    }

    .frame--1,
    .frame--2,
    .frame--3 {
        display: none;
    }

    @for $i from 1 through 3 {
        &.show-frame-#{$i} {
            .frame--#{$i} {
                display: block;
            }
        }
    }
}

.krugman-header__social {
    position: absolute;
    z-index: 5;
    bottom: 12px;
}

.krugman-header__confetti {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.krugman-header__crowd {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url('@@assetPath@@/imgs/crowd.png') repeat-x;
    background-position: center 100%;
    opacity: .3;

    @include mq($until: tablet) {
        background-size: 50%;
        margin-top: 10%;
    }

    @include mq(tablet, desktop) {
        margin-top: 200px;
    }
} 
